importing packages

In [2]:
import pandas as pd 
import math

In [8]:
df = pd.read_csv("input.csv") 
df

   start    end
0      1     10
1     10     30
2     50    100
3    500  10000

Generate primes using Sieve of Eratosthenes

In [9]:
max_range = df["end"].max()
is_prime = [True] * (max_range + 1)
is_prime[0:2] = [False, False]

for i in range(2, int(math.sqrt(max_range)) + 1):
    if is_prime[i]:
        for j in range(i * i, max_range + 1, i):
            is_prime[j] = False

Count primes in each range

In [10]:
df["prime_count"] = df.apply(
    lambda row: sum(is_prime[row["start"]:row["end"] + 1]),
    axis=1
)
df

   start    end  prime_count
0      1     10            4
1     10     30            6
2     50    100           10
3    500  10000         1134

Save to output.csv

In [7]:
df.to_csv("output.csv", index=False)
print("✅ Prime counts saved to output.csv")

✅ Prime counts saved to output.csv